<%= simple_form_for(@blogpost, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if @blogpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blogpost.errors.count, "error") %> prohibited this blogpost from being saved:</h2>

      <ul>
      <% @blogpost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :title, label: "Title"%><br />
    
  </div>
  <div class="field">
    
    <%= f.input :category, collection: ["family", "relationship","how-to","Joke"] ,prompt: "Select your age"  %>
  </div>
  <div class="field">
   
    <%= f.input :body, label:"Content" %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
